In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

BERIKUT ADALAH PRAKTEK PENGGUNAAN NUMPY DAN MATPLOTLIB YANG DIKERJAKAN OLEH EKY MARCELLINO (A11.2019.11767)

In [2]:
dataset = pd.read_csv('DataBaru.csv')
x = dataset.iloc[:,:-1].values
y = dataset.iloc[:, -1].values

In [3]:
print(x)

[['Gajahmungkur' 12.0 2500000.0]
 ['Tembalang' 10.0 2000000.0]
 ['Bawen' nan 4500000.0]
 ['Candisari' 10.0 5000000.0]
 ['Genuk' 15.0 2500000.0]
 ['Majapahit' 13.0 2000000.0]
 ['Tlogosari' 8.0 3000000.0]
 ['Marina' 12.0 3000000.0]
 ['Kaligarang' 10.0 nan]
 ['Veteran' 13.0 3000000.0]]

In [4]:
print(y)

['No' 'Yes' 'Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'No' 'Yes']

In [5]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean') 
imputer. fit(x[:, 1:3])
x[:, 1:3]= imputer.transform(x[:, 1:3])

In [6]:
print(x)

[['Gajahmungkur' 12.0 2500000.0]
 ['Tembalang' 10.0 2000000.0]
 ['Bawen' 11.444444444444445 4500000.0]
 ['Candisari' 10.0 5000000.0]
 ['Genuk' 15.0 2500000.0]
 ['Majapahit' 13.0 2000000.0]
 ['Tlogosari' 8.0 3000000.0]
 ['Marina' 12.0 3000000.0]
 ['Kaligarang' 10.0 3055555.5555555555]
 ['Veteran' 13.0 3000000.0]]

In [7]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

In [8]:
print(x)

  (0, 2)	1.0
  (0, 10)	12.0
  (0, 11)	2500000.0
  (1, 7)	1.0
  (1, 10)	10.0
  (1, 11)	2000000.0
  (2, 0)	1.0
  (2, 10)	11.444444444444445
  (2, 11)	4500000.0
  (3, 1)	1.0
  (3, 10)	10.0
  (3, 11)	5000000.0
  (4, 3)	1.0
  (4, 10)	15.0
  (4, 11)	2500000.0
  (5, 5)	1.0
  (5, 10)	13.0
  (5, 11)	2000000.0
  (6, 8)	1.0
  (6, 10)	8.0
  (6, 11)	3000000.0
  (7, 6)	1.0
  (7, 10)	12.0
  (7, 11)	3000000.0
  (8, 4)	1.0
  (8, 10)	10.0
  (8, 11)	3055555.5555555555
  (9, 9)	1.0
  (9, 10)	13.0
  (9, 11)	3000000.0

In [9]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()
y = le.fit_transform(y)

In [10]:
print(y)

[0 1 1 1 1 0 1 0 0 1]